---
// File: ./src/pages/contact.astro
import BaseLayout from '../layouts/BaseLayout.astro';

const contactDetails = {
    firstName: "Dwayne",
    lastName: "Cyrus",
    preferredName: "Cyrus",
    occupation: "Storyteller",
    services: ["writing", "drawing", "painting", "teaching", "guiding"],
    email: "hey@dwaynemcyrus.com",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const availableClientSpots = true;
const goal = 4;
const finished = true;

const pageTitle = 'Contact Page';
---


<BaseLayout pageTitle={pageTitle}>
    <nav class="temp-nav">
        <h2><a href="/">Cyrus</a></h2>
        <p>Artist · Engineer · Mentor</p>
    </nav>

  <div class="contact-introduction">
<p>For collaboration, consulting, or a direct introduction.</p>
<p><a href="mailto:hey@dwaynemcyrus.com">hey@dwaynemcyrus.com</a> <!-- 
  - <button data-copy="hey@dwaynemcyrus.com">Copy email</button>
-->
  </p>
</div>

<ul class="contact-list">
  <!-- <li></li> -->
  <li><a href="https://github.com/dwaynemcyrus" rel="noopener">GitHub</a></li>
  <li><a href="https://linkedin.com/in/dwaynemcyrus" rel="noopener">LinkedIn</a></li>
  <li><a href="https://x.com/dwaynemcyrus" rel="noopener">X</a></li>
  <!-- <li><a href="">Bluesky</a></li> -->
</ul>





    <!-- <h1>{pageTitle}</h1>
    <p>This is some text just to fill the space of the contact page.</p>

    <p>My name is {contactDetails.firstName} {contactDetails.lastName} and I am a {contactDetails.occupation}, but everyone calls me {contactDetails.preferredName} and that's what I prefer.</p>

    {availableClientSpots && <p>I am available to take on clients</p>}

    <p>Email me at *{contactDetails.email}*.</p>

    <p>My services are the folowing:</p>
    <ul>
        {contactDetails.services.map((service) => <li class="service">{service}</li>)}
    </ul>

    {
        goal === 3 ? (
          <p>My goal is to finish in 3 days.</p>
        ) : (
          <p>My goal is not 3 days.</p>
        )
      }
<ul>
{
    contactDetails.hobbies.length >= 2 && (
      <li>
        Two of my hobbies are: {contactDetails.hobbies[0]} and {contactDetails.hobbies[1]}
      </li>
    )
  }
</ul>

<p>The Finish Statement: (false is no show, true is show)</p>
{finished && <p>I finished this tutorial!</p>} -->

</BaseLayout>