---
import BaseLayout from './BaseLayout.astro';

import TagList from '../components/TagList.astro';

import SourceLinks from '../components/links/SourceLinks.astro';
import ChainLinks from '../components/links/ChainLinks.astro';
import ResourceLinks from '../components/links/ResourceLinks.astro';
import Backlinks from '../components/links/Backlinks.astro';

import {
  getNodeBySlug,
  flattenNodeLinks,
  type ContentLink,
} from '../lib/graph';

interface Props {
  slug: string;
  title: string;
  note: any; // new
}

const { slug, title, note } = Astro.props;

const node = getNodeBySlug(slug);
const links: ContentLink[] = node ? flattenNodeLinks(node) : [];
---

<BaseLayout pageTitle={title}>
  <article>
    <h1>{title}</h1>
    <!-- <TagList tags={note.data.tags} /> -->
     <!-- <TagList tags={note.data.tags} /> -->
 <!-- * <TagList tags={entry.data.tags} /> -->
 <!-- * <TagList tags={Astro.props.post.frontmatter.tags} /> -->
    <slot />
  </article>

  <aside>
    <SourceLinks links={links} />
    <ChainLinks links={links} />
    <!-- <ResourceLinks links={links} /> -->
    <Backlinks links={links} />
  </aside>
</BaseLayout>
